{% load static %}

<table id="documentoTabela" class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Título</th>
      <th scope="col">Autor</th>
      <th scope="col">Orientador</th>
      <th scope="col">Coorientador</th>
      <th scope="col">Palavras-Chaves</th>
      <th scope="col">Data</th>
      <th scope="col">Área de Concentração</th>
      <th scope="col">Arquivo</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for documento in documentos %}
    <tr>
      <td>{{documento.titulo}}</td>
      <td>
        {% for autor in documento.autor.all %} {{ autor.nome }}   
          {% if not forloop.last %}, {% endif %}
        {% endfor %}
      </td>
      <td>
        {% for orientador in documento.orientador.all %} {{ orientador.nome }}   
          {% if not forloop.last %}, {% endif %}
        {% endfor %}
      </td>
      <td>
        {% for coorientador in documento.coorientador.all %} {{ coorientador.nome }}   
          {% if not forloop.last %}, {% endif %}
        {% endfor %}
      </td>
      <td>{{documento.palavrasChaves}}</td>
      <td>{{documento.dataEntrega}}</td>  
      <td>{{documento.areaConcentracao}}</td>
      {% if documento.arquivo %}
      <td>
        <a href="/{{ documento.arquivo }}">Link</a>
      </td>
      {% else %}
      <td>Nenhum arquivo disponível</td>
      {% endif %}
      <td>
        <a class="btn btn-primary" href="{% url 'atualizar_documento' documento.id %}">
          <img src="{% static 'midia/edit.svg' %}" alt="Icone de Editar">
        </a>
        <button type="button" 
          class="btn btn-danger btn-deletar" 
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop" 
          data-url="{% url 'deletar_documento' documento.id %}">
          <img src="{% static 'midia/trash.svg' %}" alt="Icone de Editar">
        </button>      
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready( function () {
    $('#documentoTabela').DataTable({
      responsive: true,
      language: {
        url: "{% static 'json/DataTable_pt-BR.json' %}",
      },
      pagingType: 'simple_numbers',
    });
  } );
</script>