{% extends 'base.html' %} {% block title %} Página de Monografias {% endblock %}
{%block content %}

<section style="margin: 60px">
  <div class="d-flex justify-content-between mb-2">
    <h1>Documentos</h1>
    {% if user.is_staff %}
      <a class="btn btn-primary d-flex align-items-center font-weight-bold" href="{% url 'adicionar_documento' %}">Adicionar</a>
    {% endif %}
  </div>

  {% include './includes/dataTabledoc.html' %}

  {% include './includes/modal.html' %}

</section>
{% endblock %}
