<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button
      class="navbar-toggler" 
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link
          {% if request.resolver_match.url_name == 'inicio'%}
            active navbar-brand"
          {% endif %}
          aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link
          {% if request.resolver_match.url_name == 'listar_equipe'%}
            active navbar-brand"
          {% endif %}
          aria-current="page" href="{% url 'listar_equipe' %}">Equipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link
          {% if request.resolver_match.url_name == 'listar_documentos'%}
            active navbar-brand"
          {% endif %}
          aria-current="page" href="{% url 'listar_documentos' %}">Documentos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link
          {% if request.resolver_match.url_name == 'listar_historico'%}
            active navbar-brand"
          {% endif %}
          aria-current="page" href="{% url 'listar_historico' %}">Histórico</a>
        </li>
      </ul>

      {% if not '/auth/' in request.path %}
        {% if user.is_authenticated %}
          <div class="d-flex">
            <a class="nav-link" href="{% url 'logout' %}">Sair</a>
          </div>
        {% else %}
          <div class="d-flex">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </div>
        {% endif %}
      {% endif %}
      
     
    </div>
  </div>
</nav>
