{% extends 'base.html' %} {% block title %} Página Inicial {% endblock %}
{%block content %} 

<section style="margin: 60px">
  <h1>Equipe</h1>
 
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Nível</th>
      <th scope="col">Lattes</th>
      <th scope="col">linkedin</th>
      <th scope="col">Research Gate</th>
      <th scope="col">E-mail</th>
      <th scope="col">Cargo</th>
    </tr>
  </thead>
  <tbody>
    {% for pesquisador in pesquisadores %}
    <tr>
      <td>{{pesquisador.nome}}</td>
      <td>{{pesquisador.nivel}}</td>
      <td>{{pesquisador.lattes}}</td>
      <td>{{pesquisador.linkedin}}</td>
      <td>{{pesquisador.researchgate}}</td>
      <td>{{pesquisador.email}}</td>
      <td>{{pesquisador.cargo}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</section>
{% endblock %}
