{% extends 'base.html' %} {% block title %} Página de Adicionar Monografia {% endblock %}

{%load crispy_forms_tags %}

{% load static %}

{%block content %}

  <section class="container mx-auto mt-3 mb-5">
    {% if user.is_authenticated %}
      <a class="link-opacity-100-hover" href="{% url 'listar_usuarios' %}">Voltar</a>
    {%else%}
      <a class="link-opacity-100-hover" href="{% url 'login' %}">Voltar</a>
    {%endif%}
    
    {% if user.is_authenticated %}
      {% if usuario %}
        <form class="mx-auto form-signin" action="{% url 'atualizar_usuario' usuario.id %}" method="POST">  
      {% else %}
        <form class="mx-auto form-signin" action="{% url 'cadastro' %}" method="POST">  
      {% endif %}
    {%else%}
      <form class="mx-auto form-signin" action="{% url 'cadastro' %}" method="POST">
    {%endif%}

      {% csrf_token %}

      <div class="text-center mb-4">
        <img class="mb-4" src="{% static 'midia/logo.png' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Cadastro Usuário</h1>
        <p>Site de monografias - Sistemas Distribuidos - 2024</p>
      </div>

      <div class="form-label-group mb-3 d-flex gap-3">
        <div class="form-label-group flex-grow-1">
          <input type="text" name="primeiroNome" class="form-control" placeholder="Primeiro nome..." required autofocus
          {% if usuario %}
          value="{{usuario.first_name}}"
          {% endif %}>
        </div>
  
        <div class="form-label-group flex-grow-1">
          <input type="text" name="sobrenome" class="form-control" placeholder="Sobrenome..." required autofocus
          {% if usuario %}
            value="{{usuario.last_name}}"
          {% endif %}>
        </div>
      </div>

      <div class="form-label-group mb-3 d-flex gap-3">
        <div class="form-label-group flex-grow-1">
          <input type="text" name="username" class="form-control" placeholder="Username..." required autofocus
          {% if usuario %}
            value="{{usuario.username}}"
          {% endif %}>
        </div>
        
        <div class="form-label-group flex-grow-1">
          <input type="email" name="email" class="form-control" placeholder="E-mail..." required autofocus
          {% if usuario %}
            value="{{usuario.email}}"
          {% endif %}>
        </div>
      </div>

      {% if user.id == usuario.id or user.is_staff%}
        <div class="form-label-group mb-3">
          <div class="form-label-group flex-grow-1">
            <input type="password" name="senha" class="form-control" placeholder="Senha..." required>
          </div>
        </div>
      {% endif %}

      {% if user.is_authenticated and user.is_staff %}
        <div class="input-group mb-3">
          <div class="input-group-text d-flex justify-content-center align-items-center">
            <input class="form-check-input mt-0 ms-0" type="checkbox" {% if usuario.is_staff %} checked {% endif %} name="admin">
          </div>
          <p id="admin" class="mb-0 ms-1">Tornar usuário adiministrador?</p>
        </div>
      {% endif %}

      <button class="btn btn-lg btn-primary btn-block" type="submit">
        {% if '/cadastro/' in request.path %}
          Adicionar
        {% elif '/atualizar/' in request.path %}
          Atualizar
        {% endif %}
      </button>
    </form>
  </section>
</div>

{% endblock %}