{% extends 'base.html' %} 

{% load static %}

{% block title %} Página de Monografias {% endblock %}

{% block content %}
<section style="margin: 30px">
    <h1>Dashboard</h1>

    
    <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 30px;">
        <!-- Gráfico de barras -->
        <div>
            <h2 style="margin-bottom: 60px;">Número de documentos por área de concentração</h2>
            <canvas id="barChart" style="max-width: 400px; max-height: 400px;"></canvas>
        </div>
        <!-- Gráfico de pizza -->
        <div>
            <h2 style="margin-bottom: 60px;">Distribuição dos pesquisadores por titulação</h2>
            <canvas id="pieChart" style="max-width: 400px; max-height: 400px;"></canvas>
        </div>
        <div>
            <h2>Quantidade de documentos por nota obtida</h2>
            <canvas id="documentosPorNotaChart" style="max-width: 400px; max-height: 400px;"></canvas>
        </div>
        <div>
            <h2>Quantidade de documentos por autor</h2>
            <canvas id="documentosPorAutorChart" style="max-width: 400px; max-height: 400px;"></canvas>
        </div>
    </div>
    <script>
    var areas = {{ areas|safe }};
    var documentos_por_area = {{ documentos_por_area|safe }};
    var ctx = document.getElementById('barChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: areas,
            datasets: [{
                label: 'Quantidade de Documentos por Área',
                data: documentos_por_area,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
    });
    </script>

    
    
    <script>
    var titulacoes = {{ titulacoes|safe }};
    var pesquisadores_por_titulacao = {{ pesquisadores_por_titulacao|safe }};
    var ctx = document.getElementById('pieChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: titulacoes,
            datasets: [{
                label: '# de Pesquisadores por Titulação',
                data: pesquisadores_por_titulacao,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
    });
    </script>
    <script>
        var ctx = document.getElementById('documentosPorNotaChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ notas|safe }},
                datasets: [{
                    label: 'Quantidade de Documentos por Nota',
                    data: {{ quantidade_documentos|safe }},
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Quantidade de documentos'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Nota Obtida'
                        }
                    }
                }
            }
        });
        </script>
        <script>
            var ctx = document.getElementById('documentosPorAutorChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{ nomes_autores|safe }},
                    datasets: [{
                        label: 'Quantidade de Documentos por Autor',
                        data: {{ documentos_por_autor|safe }},
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
            });
            </script>
</section>
    
{% endblock %}